<!-- <app-apidisplay></app-apidisplay> -->
<!-- <app-apidisplay2></app-apidisplay2> -->
<!-- <app-apidisplay3></app-apidisplay3> -->
<!-- <app-interpolation-practice></app-interpolation-practice>
<br /><br />
<hr />
<app-template-ref></app-template-ref>
<br /><br />
<hr />
<app-event-binding></app-event-binding>
<hr />
<app-swith-case></app-swith-case>
<hr /> -->
<!-- <app-products></app-products> -->
<!-- <br /><br /><br /> -->
<!-- <router-outlet></router-outlet> -->
<!-- <br /><br /> -->
<!-- <app-task1></app-task1> -->
<!-- <app-testpipe></app-testpipe> -->
<!-- <app-angular-events></app-angular-events> -->
<!-- <app-findduplicatearray></app-findduplicatearray> -->
<!-- <app-localcrud></app-localcrud> -->
<app-officeregister></app-officeregister>
