<!-- <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    
    country (India static) 
    <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>select Country</mat-label>
          <mat-select formControlName="country">
            <mat-option value="0">select Country</mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
  
    Govt Body (static)
    <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Govt Body</mat-label>
          <mat-select formControlName="govtBody">
            <mat-option value="0">Govt Body</mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
  
    Ministry
    <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Select Ministry</mat-label>
          <mat-select formControlName="ministry">
            <mat-option value="0">Select Ministry</mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>  
  
    Zone
    <ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Select Ministry</mat-label>
        <mat-select formControlName="ministry">
          <mat-option value="0">Select Ministry</mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  
    zone/region
    <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Select Zone/Region</mat-label>
          <mat-select formControlName="ministry">
            <mat-option value="0">Select Zone/Region</mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
  
    <section>
      <div style="margin-top: 20px; margin-left: 40px" class="example-button-row">
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </section>
    <br /><br /><br />
  </form> -->