<div class="row mt-3">
    <!-- -------------------------------------table----------------------------------------- -->
   <div class="col-md-8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
      
                          <!-- displayedColumns: string[] = [
                          'srNo',
                          'vehicleNo',
                          'ownerName',
                          'ownerMobileNumber',
                          'driverMobileNumber',
                          'action',
                        ]; -->
      
            <!-- srNo -->
            <ng-container matColumnDef="srNo">
              <th mat-header-cell *matHeaderCellDef>srNo.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
            </td>
            </ng-container>
      
            <!-- vehicleNo -->
            <ng-container matColumnDef="vehicleRegistrationNo">
              <th mat-header-cell *matHeaderCellDef>Vehicle Number</th>
              <td mat-cell *matCellDef="let element">
                {{ element.vehicleRegistrationNo }}
            </td>
            </ng-container>
      
            <!-- ownerName -->
            <ng-container matColumnDef="ownerName">
              <th mat-header-cell *matHeaderCellDef>Owner Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.ownerName }}
            </td>
            </ng-container>
      
            <!-- ownerMobileNumber -->
            <ng-container matColumnDef="ownerMobileNo">
              <th mat-header-cell *matHeaderCellDef>Owner Mobile Number</th>
              <td mat-cell *matCellDef="let element">
                {{ element.ownerMobileNo }}
              </td>
            </ng-container>
      
            <!-- driverMobileNumber -->
            <ng-container matColumnDef="driverMobileNo">
              <th mat-header-cell *matHeaderCellDef>Driver Mobile Number</th>
              <td mat-cell *matCellDef="let element">
                {{ element.driverMobileNo }}
            </td>
            </ng-container>

            <!-- action -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>action</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  matTooltip="Click to Edit"
                  class="iconbutton"
                  style="color: rgb(210, 25, 25)"
                >
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [length]="totalCount" [pageSize]="10" [pageIndex]="currentPage" (page)="onClickPaginatior($event)"
            showFirstLastButtons aria-label="Select page">
        </mat-paginator>
   </div>
    <!-- -------------------------------------form----------------------------------------- -->
    <div class="col-md-4">
       <mat-card>
        <form [formGroup]="vehicleRegistrationForm" (ngSubmit)="onSubmitForm()">
            <div class="container">
              <h4 class="text-danger"><strong>Register Vehicle</strong></h4>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <mat-radio-group aria-label="Transport Type" formControlName="vehicleTypeId">
                            <mat-radio-button value="1">Vehicle</mat-radio-button>
                          </mat-radio-group>
                    </ng-container>
                </div>
                <div class="col-md-6">
                    <ng-container>
                        <mat-radio-group aria-label="Number Format" formControlName="version">
                            <mat-radio-button value={{rb}} *ngFor="let rb of numberFormatArray">{{rb}}</mat-radio-button>
                            <!-- <mat-radio-button value="2">New</mat-radio-button> -->
                          </mat-radio-group>
                    </ng-container>
                </div>
            </div>

            <!-- --------------------------------if radio button value is new-------------------------------- -->
            <ng-container *ngIf="vehicleRegistrationForm.value.version == 'new' ">
                <div class="row mt-4">
                    <div class="col-md-3">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>state</mat-label>
                                <input matInput placeholder="state"formControlName="state" />
                              </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="col-md-3">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>district</mat-label>
                                <input matInput placeholder="district" formControlName="district"/>
                              </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="col-md-3">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>series</mat-label>
                                <input matInput placeholder="series" formControlName="series"/>
                              </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="col-md-3">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>number</mat-label>
                                <input matInput placeholder="number" formControlName="number"/>
                              </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

             <!-- --------------------------------if radio button value is old-------------------------------- -->
             <ng-container *ngIf="vehicleRegistrationForm.value.version == 'old' ">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>old state</mat-label>
                                <input matInput placeholder="oldState" formControlName="oldState"/>
                              </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="col-md-6">
                        <ng-container>
                            <mat-form-field appearance="fill" >
                                <mat-label>old number</mat-label>
                                <input matInput placeholder="oldNum" formControlName="oldNum"/>
                              </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
    
            <div class="row mt-4">
                <div class="col-md-12">
                    <ng-container>
                        <mat-radio-group aria-label="Block/Unblock" formControlName="isBlock">
                            <mat-radio-button value="{{bu.isBlock}}" *ngFor="let bu of blockUnblockArray">{{bu.name}}</mat-radio-button>
                            <!-- <mat-radio-button value="2">Unblock</mat-radio-button> -->
                          </mat-radio-group>
                    </ng-container>
                </div>
            </div>

            <!-- ---------------------------if radio Option is block mention Remark--------------------------- -->
            <ng-container *ngIf="vehicleRegistrationForm.value.isBlock == 'true'">
               <div class="mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Remark</mat-label>
                    <textarea matInput placeholder="Remark" formControlName="remark"></textarea>
                  </mat-form-field>
               </div>
            </ng-container>
            <!-- ---------------------------------------------------------------------------------------------- -->
    
            <div class="row mt-4">
                <div class="col-md-12">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <mat-label>Owner Mobile Number</mat-label>
                            <input matInput placeholder="Owner Mobile Number" formControlName="ownerMobileNo" />
                          </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <ng-container>
                <mat-form-field appearance="fill">
                    <mat-label>Owner Name</mat-label>
                    <input matInput placeholder="Owner Name"formControlName="ownerName"/>
                  </mat-form-field>
            </ng-container>

            <ng-container>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Adderss" formControlName="address"></textarea>
                  </mat-form-field>
            </ng-container>

            <ng-container>
                <mat-form-field appearance="fill">
                    <mat-label>Driver Name</mat-label>
                    <input matInput placeholder="Driver Name" formControlName="driverName"/>
                  </mat-form-field>
            </ng-container>

            <div class="row mt-4">
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <mat-label>Driver Mobile Number</mat-label>
                            <input matInput placeholder="Driver Mobile Number" formControlName="driverMobileNo"/>
                          </mat-form-field>
                    </ng-container>
                </div>
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="eTP App Mobile Number" formControlName="eTpMobileNumber"/>
                          </mat-form-field>
                    </ng-container>
                </div>
            </div>
           
            <ng-container>
                <mat-form-field appearance="outline">
                    <mat-label>Vehicle Type</mat-label>
                    <mat-select formControlName="vehicleTypeId">
                      <mat-option value="0">Vehicle Type</mat-option>
                      <mat-option *ngFor="let vta of vehicleTypeArr" value="{{vta.type}}"
                        >{{vta.type}}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
            </ng-container>

            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Permit Number" formControlName="driverMobileNo"/>
                          </mat-form-field>
                    </ng-container>
                </div>
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Driver Licence Number" formControlName="licenseNo"/>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <ng-container>
                <mat-form-field appearance="fill">
                    <!-- <mat-label>Driver Mobile Number</mat-label> -->
                    <input matInput placeholder="Device Company Name" formControlName="deviceCompanyName"/>
                </mat-form-field>
            </ng-container>

            <ng-container>
                <mat-form-field appearance="fill">
                    <!-- <mat-label>Driver Mobile Number</mat-label> -->
                    <input matInput placeholder="Device Id" formControlName="deviceId"/>
                </mat-form-field>
            </ng-container>

            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Device Sim No 1*" formControlName="deviceSIMNo"/>
                        </mat-form-field>
                    </ng-container>
        
                </div>
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="outline">
                            <mat-label>Telecom Provider Sim 1</mat-label>
                            <mat-select formControlName="primaryTelecomProvider">
                              <mat-option value="0">Select</mat-option>
                              <mat-option *ngFor="let pta of telecomProviderArr" value="{{pta}}"
                                >{{pta}}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                    </ng-container>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Device Sim No 2*" formControlName="secondarySIMNo"/>
                        </mat-form-field>
                    </ng-container>
                </div>
                
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="outline">
                            <mat-label>Telecom Provider Sim 2</mat-label>
                            <mat-select formControlName="secondaryTelecomProvider">
                              <mat-option value="0">Select</mat-option>
                              <mat-option *ngFor="let pta of telecomProviderArr" value="{{pta}}"
                                >{{pta}}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Length (Meter)" formControlName="length"/>
                        </mat-form-field>
                    </ng-container>
                </div>
                <div class="col-md-6">
                    <ng-container>
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Driver Mobile Number</mat-label> -->
                            <input matInput placeholder="Width (Meter)" formControlName="width"/>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <div class="row">
                <input type="file" id="view" class="d-none" #view><br><br>
                <span class=""> <button type="button" style="width: 90px; height: 90px;" class="btn btn-outline-secondary"><strong>+</strong>Front View</button></span>
               
                <span class="mt-2"> <button type="button" style="width: 90px; height: 90px;" class="btn btn-outline-secondary "><strong>+</strong>Side View </button></span>
                   
                <span class="mt-2">  <button type="button" style="width: 90px; height: 90px;" class="btn btn-outline-secondary"><strong>+</strong>Number Plate View</button></span>
            </div>

            <div class="mt-1 offset-4">
              <button
                type="submit"
                mat-raised-button
                color="primary"
              >
              Submit
                <!-- {{ buttonName }} -->
              </button>
              <button style="margin-left: 20px" mat-raised-button color="warn">
                Clear
              </button>
            </div>
          </form>
       </mat-card>
    </div>
</div>